body {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
}
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px 60px;
  position: absolute;
  width: 100%;
  box-sizing: border-box;
}
header ul {
  display: flex;
  flex-direction: row;
}
header li {
  margin: 0 20px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul a {
  text-decoration: none;
  color: rgb(255, 251, 0);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}
header li:hover {
  text-decoration: underline;
}

#page-logo a {
  padding: 10px;
  font-family: 'Oleo Script', sans-serif;
  color: rgb(255, 251, 0);
  font-size: 50px;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
}
footer ul {
  background: linear-gradient(70deg, rgb(24, 24, 24), rgb(25, 29, 29));
  display: flex;
  justify-content: center;
}
footer li {
  height: 80px;
  width: 80px;
  margin: 50px 30px;
}
footer img {
  height: 100%;
  width: 100%;
}
